@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&family=Vazirmatn&display=swap');

*{
	margin:0;
	padding:0;
	font-family: 'Vazirmatn';
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	background: linear-gradient(to right, rgb(12, 107, 104), rgb(32, 81, 114));
	position: relative;
}
ul{
	list-style-type: none;
}
li{
	cursor: pointer;
	border-radius: 5px;
}
i{
	margin:5px;
}
li:hover{
	background-color: rgb(209, 209, 217);
}
.container{
	visibility: hidden;
	width: 250px;
	background-color: aliceblue;
	border-radius: 10px;
	padding:10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position:absolute;
	left:0;
	top:0;
}
.set{
	border-top: 1px solid gray;
	margin: 8px 0;
	padding-top:5px;
}
.menu{
	visibility: hidden;
	width:190px;
	background-color: aliceblue;
	position: absolute;
	left: 240px;
	border-radius: 10px;
	padding:7px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.share{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.share:hover .menu{
	visibility:visible;
}
.menu:hover{
	visibility:visible;
}